<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>API 3 Images</title>

    <link rel="stylesheet" href="../bower_components/swiper/dist/css/swiper.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">


</head>

<body>

    <div ng-app="demoApp">
<h1 class="heading">API 3 Images</h1>
        <div class="myslides">
            <ks-swiper-container slides-per-column="1" loop="true" show-nav-buttons="true" slides-per-view="3" space-between="2" pagination-clickable="true" pagination-is-active="true">
                <ks-swiper-slide ng-repeat="s in [1,2,3,4,5]">
                    <img ng-src="http://api.randomuser.me/portraits/thumb/women/{{s}}.jpg">
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>
        
<div ng-controller= "MyapiCtrl"><h1>Snippet API</h1>
<ul ng-repeat="list in myapi">
            <li>{{list.title}}: {{list.link}}</li>
        </ul>

</div>


    </div>

    <script src="../bower_components/swiper/dist/js/swiper.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../dist/angular-swiper.js"></script>


    <script>
    console.log('Script load success');
        var module = angular.module('demoApp', ['ksSwiper']);
        module.controller('TestCtrl', function($scope) {
            $scope.swiper = {};
            $scope.next = function() {
                $scope.swiper.slideNext();
            };
            $scope.onReadySwiper = function(swiper) {
                console.log('onReadySwiper');
                swiper.on('slideChangeStart', function() {
                    console.log('slideChangeStart');
                });
            };
        });
  module.controller('MyapiCtrl', function ($scope, $http) {
    $http.get('http://newbiecoderwarehouse.github.io/design-inspiration-api/apis/codeSnippets.json').success(function(theapi, response) {
    $scope.myapi = theapi.results;
    console.log(response);
    });
  });

            
        

    </script>

</body>

</html>